<a href="https://colab.research.google.com/github/kimmycorpuz/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Intro to Python Programming

In [9]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

###Python Variable

In [11]:
x = 1
a, b = 0, 1
a,b,c= 0,1,2
print(x)
print(a)
print(b)
print(c)

1
0
1
2

In [20]:
d = "Sally" #This is a string
D = "Ana"
print(d)
e= 'John'
print(e)
print(D)

Sally
John
Ana

In [14]:
print(type(d)) #This is a Type function
print(type(x))

<class 'str'>
<class 'int'>

###Casting

In [13]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

###Multiple Variables with One Value

In [21]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [22]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

###Operation in Python

In [46]:
x = 5
y = 7
print(x+y)
print(x*y)
print(x)

12
35
5